.loginPage {
  background: #206EC8;
}

.AuthHeader {
    padding: 50px 0px;

    img {
      vertical-align: middle;
    }

    .logo-text {
      margin-left: 20px;
    }

    .logo-ts {
      margin-top: 24px;
    }

    .right {
      float: right;
    }
}

.ts-ui-login-container {
    margin: 40px auto 20px;
    color: white;

    .auth-content {
      line-height: 25px;
      padding-right: 60px;
    }

    .app-title {
      font-size: 22px;
      margin-bottom: 20px;
      line-height: 30px;
      font-weight: bold;
    }

    .app-content {
      font-weight: regular;
      font-size: 12px;
    }

    .login-title {
      font-size: 22px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }
}


.AuthBoxWrap {
  border-left: 1px solid #1E65B9;
  padding: 0 15px;

  .AuthBox {
    padding-left: 45px;
    padding-top: 10px;

    .loginButton {
      background-color: #3fbfe9;
      padding: 12px 16px;
      color: $white;
      text-transform: uppercase;
      height: 42px;
      border: 0px;
    }

    .loginForgot {
      color: $white;
      text-decoration: underline;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .loginCheck {
      font-size: 12px;
      font-weight: bold;

      span {
        padding-left: 8px;
      }
    }

    // .loginCheck > input[type=checkbox]:after {
    //     content: "";
    //     display: block;
    //     width: 20px;
    //     height: 20px;
    //     background-color: white;
    //     font-family: 'FontAwesome';
    //     font-size: 11px;
    //     padding: 3px;
    //     color: white;
    //     margin-top: -1px;
    //     border-radius: 3px;
    //     margin-left: -5px;
    //     margin-top: -10px;
    //     top: 50%;
    //     position: relative;
    //     border: 1px solid #D9E2E8;
    // }

    .loginLinkSignup {
      text-align: center;
      color: white;
      div {
        width: 100%;
        background: none;
        border: 1px solid #145BA8;
        border-radius: 4px;
        padding: 12px 16px;
        font-weight: bold;
      }
    }
  }
}
